In [2]:
import pandas as pd
df_from = pd.read_csv('../user_tweets_from.csv', header=None)
df_from.columns = ['tweet_id','created_at','text',
            'favorite_count','retweet_count','followers_count',
            'screen_name','industry']

## feature engineering
df_from['rfr'] = (1.0*df_from['favorite_count']+1.0*df_from['retweet_count'])/df_from['followers_count']

## normalize
df_from['favorite_count_norm'] = df_from['favorite_count'] / df_from['favorite_count'].max()
df_from['retweet_count_norm']  = df_from['retweet_count'] / df_from['retweet_count'].max()
df_from['followers_count_norm'] = df_from['followers_count'] / df_from['followers_count'].max()
df_from['rfr_norm'] = df_from['rfr'] / df_from['rfr'].max()

## separate
celeb_df = df_from[df_from['industry'] == 'celebrity']
athlete_df = df_from[df_from['industry'] == 'athlete']
musician_df = df_from[df_from['industry'] == 'musician']

In [20]:
df_about = pd.read_csv('../user_tweets_about.csv', header=None)
df_about.columns = ['tweet_id','created_at','favorite_count','retweet_count','text',
            'polarity','screen_name','industry']
df_about['favorite_count_norm'] = df_about['favorite_count'] / df_about['favorite_count'].max()
df_about['retweet_count_norm']  = df_about['retweet_count'] / df_about['retweet_count'].max()
# df_about['polarity_norm'] = df_about['polarity'] / df_about['polarity'].max()

In [21]:
df_about.head()

,tweet_id,created_at,favorite_count,retweet_count,text,polarity,screen_name,industry,favorite_count_norm,retweet_count_norm
0,983469498413076480,2018-04-09 22:19:35,0,0,Is this as much of we are going to get at Mond...,-0.015385,TheRock,celebrity,0.0,0.000000
1,983469479723196416,2018-04-09 22:19:30,0,1,RT What’s up I hope you have a chill day today,0.000000,TheRock,celebrity,0.0,0.000002
2,983469410538188800,2018-04-09 22:19:14,0,0,You are a pervert Sexual predator going after ...,0.500000,TheRock,celebrity,0.0,0.000000
3,983469363301961730,2018-04-09 22:19:02,0,0,You get it,0.000000,TheRock,celebrity,0.0,0.000000
4,983469234440298496,2018-04-09 22:18:32,0,0,Plot twistRampage is a giant flex contest betw...,0.000000,TheRock,celebrity,0.0,0.000000

In [16]:
celeb_df_about = df_about[df_about['industry'] == 'celebrity']
athlete_df_about = df_about[df_about['industry'] == 'athlete']
musician_df_about = df_about[df_about['industry'] == 'musician']

In [23]:
people = pd.read_csv('../people_list.csv')
s = celeb_df_about.groupby('screen_name').mean()
t = pd.merge(left=s, right=people, left_index=True, right_on='screen_name').drop('tweet_id', axis=1)

In [24]:
t

,favorite_count,retweet_count,polarity,name,screen_name,industry,controversial
7,0.574257,1874.693069,0.132444,Anna Kendrick,AnnaKendrick47,celebrity,0
10,1.444444,487.717949,0.067813,Caitlyn Jenner,Caitlyn_Jenner,celebrity,1
11,1.479798,16.010101,0.139978,Mehmet Oz,DrOz,celebrity,1
6,0.222930,1404.060510,0.426864,Emma Watson,EmmaWatson,celebrity,0
18,1.089552,5.213930,0.125333,Gwyneth Paltrow,GwynethPaltrow,celebrity,1
5,1.110577,89.423077,0.194107,Gina Rodriguez,HereIsGina,celebrity,0
14,0.752475,613.970297,0.105277,Kevin Spacey,KevinSpacey,celebrity,1
17,0.336066,16117.806011,0.019407,Kim Kardashian,KimKardashian,celebrity,1
3,0.567708,107.869792,0.107226,Leonardo Dicaprio,LeoDiCaprio,celebrity,0
9,0.121212,1832.700758,0.097418,Oprah Winfrey,Oprah,celebrity,0
8,0.028391,5621.971609,0.149805,Ellen Degeneres,TheEllenShow,celebrity,0
0,1.750751,521.675676,0.178663,Dwayne Johnson,TheRock,celebrity,0
19,0.313333,6.626667,0.350980,Kristen Stewart,_KrisJStewart,celebrity,1
13,0.458537,46.297561,0.103448,Ashton Kutcher,aplusk,celebrity,1
15,0.129187,217.889952,0.008606,Chelsea Handler,chelseahandler,celebrity,1
4,0.211982,369.119816,0.081172,Jimmy Fallon,jimmyfallon,celebrity,0
16,0.989583,60.927083,0.092901,Lindsay Lohan,lindsaylohan,celebrity,1
12,0.271127,233.940141,0.097653,Piers Morgan,piersmorgan,celebrity,1
2,0.039409,300.807882,0.000717,Chris Pratt,prattprattpratt,celebrity,0
1,0.632353,70.137255,0.152333,Tom Hanks,tomhanks,celebrity,0

In [26]:
df_from = pd.read_csv('../user_tweets_from.csv', header=None)
df_from.columns = ['tweet_id','created_at','text',
            'favorite_count','retweet_count','followers_count',
            'screen_name','industry']

In [27]:
y = pd.merge(left=df_from, right=people)
y.head()

,tweet_id,created_at,text,favorite_count,retweet_count,followers_count,screen_name,industry,name,controversial
0,983311769727713280,2018-04-09 11:52:49,See you Wed and enjoy the movie It’s epic and ...,2244,150,12787877,TheRock,celebrity,Dwayne Johnson,0
1,983311108382470144,2018-04-09 11:50:11,Bout to make ’s bigger badder and I did not dr...,1852,158,12787877,TheRock,celebrity,Dwayne Johnson,0
2,983260101829103616,2018-04-09 08:27:31,RT The first time the three of us had done a ...,0,65,12787877,TheRock,celebrity,Dwayne Johnson,0
3,983123317979779072,2018-04-08 23:23:59,Ayyyeee luv back D,3054,186,12787877,TheRock,celebrity,Dwayne Johnson,0
4,983117699709628416,2018-04-08 23:01:39,One day Welcome home,872,29,12787877,TheRock,celebrity,Dwayne Johnson,0